@import url('https://fonts.googleapis.com/css?family=Bevan&display=swap');
body {
  background-color: white;
  color: black;
  text-align: center;
  font-family: 'Bevan', cursive;
}

#name {
  font-size: 100px;
}
